@model IEnumerable<WeCareAssignment.Models.Child>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.childName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyActivities)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.childName)
            </td>
                <td>
                    @item.Parents.ParentName
                </td>
                <td>
                    @item.Teachers.TeacherName
                </td>
                <td>
                    @item.DailyActivities.DailyActivityName
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                <a asp-action="Edit" asp-route-id="@item.childId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.childId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.childId">Delete</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
